.DodajProizvod *,.IzmeniProizvod * {
    margin: 5px;
}

.RedCene,.RedVelicinaKolicina,.RedModelKolicina {
    flex-wrap: nowrap !important;
}

.Plus {
    max-width: 50px;
    align-self: center;
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.CloseMoje {
    padding: 0px !important;
    border: none;
    font-size:x-large;
}


.PozadinaZaGreskuPrijavljivanja {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    min-width: 100%;
    background-color: rgba(76,70,70,0.96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3001;
    text-align: center;
    
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prijavljivanje {
    flex-wrap: nowrap;
}

.main-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(25, 26, 26, 0.7), rgba(25, 26, 26, 0.7)), URL("https://www.politika.rs/thumbs//upload/Article/Image/2019_05///677z381_Obuka-rezervista-Foto-Ministarstvo-odbrane.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 100%;
    align-content: center;
    overflow: auto;
}

.PrijavljeniKorisnik {
   color: white;
}

.srce{
    width: 30px;
    height: 30px;
}

.container-IzabraniProizvod {
    background-color: rgb(255, 255, 255, 0.2) !important; 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;  
    margin-right: 1em;
    border-left-style: dotted;
}

.container-Proizvodi{
    background-color: rgb(255, 255, 255, 0.1) !important; 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;    
    margin-left: 1em;
}


.SlikaProizvoda {
    height: auto;
    width: 100%;
    max-width: 290px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SlikaProizvodaPrikaz {
    max-width: 100% !important;
    height: auto;
}

.KontejnerProizvoda {
    display: flex;
    margin: 30px;
    height: auto;
    width: 300px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    color: black;
}

.DugmiciStranica {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px){

    .container1 {
        flex-direction: column-reverse !important;
    }

}

.container1 {
    flex-wrap: nowrap;
    flex-direction: row;
}

body {
    color: rgb(211, 220, 209);
}


.providno {
    background-color: rgba(255, 255, 255, 0.619) !important;
}

